@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap');

:root{
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);
    --fw-normal: 400;
    --fw-bold: 700;
    --clr: #b7c9e5;
}
*, *::before,*::after{
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Oswald', sans-serif;
    background-image: url("imagesAndMedia/Sky-Stars-Pattern.jpg")
}
.card {
    width: 400px;
}
.card_content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
}
.card:hover .card_content {
    transform: rotateY(180deg);
}
.card_front{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
    background-color: var(--clr);
    background-image: url(imagesAndMedia/CardBackground.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    color: #333;
}
.card_front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: var(--level-one);
}
.card_title {
    font-size: 3.5rem;
    transform: var(--level-three);
    /*order: 2;*/
    text-transform: uppercase;
}
.card_subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .75rem;
    font-weight: var(--fw-bold);
    opacity: .7;
}
.card_body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
}
.card_back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
    text-justify: left;
    transform: rotateY(.5turn);
    /*color: var(--clr);*/
    color: wheat;
    background: #333;
}
#line1::after{
    content: "\a";
    white-space: pre-line;
}
#line2::after{
    content: "\a";
    white-space: pre-line;
}
#line3::after{
    content: "\a";
    white-space: pre-line;
}
#line4{
    font-family: 'Hind Madurai', sans-serif;
}