body{
    width: 100%;
    height:100%;
    position: absolute;
    overflow: hidden;
    background-color: black;
    background-image: url("imagesAndMedia/Sky-Stars-Pattern.jpg")
}
.bird-gif-wrapprer-class{
    position: absolute;
    background-color : transparent;

}
.bird-messaging-wrapprer-class{
    position: absolute;
    background-color : transparent;
}
#bird-flying-wrapper{
    background: transparent;
    position: absolute;
    /*left:100%;*/
    left: 10vw;
    top: 50vh;
    opacity: 0;
    animation: flyflip 10s 1;
}
#bird-messaging-wrapper{
    position: absolute;
    left: 800px;
    top: 50vh;
    transform: rotateZ(-30deg);
    transform: rotateY(30deg);
    opacity: 0;
    animation: fadeIn 18s 1;
    animation-delay: 10s;
}
@keyframes flyflip{
    0%{
        /*left: 80px;
        bottom: 140px;*/
        left: 10vw;
        top: 50vh;
        transform: rotateZ(-95deg);
        transform: rotateY(250deg);
        opacity: 1;
    }
    25%{
        top: 37.5vh;
    }
    50%{
        top: 25vh;
    }
    75%{
        
        top: 37.5vh;
    }
    100%{
        left: 800px;
        top: 50vh;
        transform: rotateZ(-30deg);
        transform: rotateY(30deg);
        /*visibility: hidden;*/
        opacity: 1;
    }
}
@keyframes fadeIn{
    from { opacity: 1; }
    to { opacity: 1; }
}
@keyframes fadeInRotate{
    from { opacity: 0; transform: rotate(0deg);}
    to { opacity: 1; transform: rotate(360deg);}
}
@keyframes fadeOut{
    0% { opacity: 1; }
    90%{opacity: 1;}
    100% { opacity: 0; }
}
.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    left:450px;
    top:50vh;
    text-align: center;
    opacity: 0;
    animation: fadeOut 15s 1;
    animation-delay: 10s;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 258px;
    bottom: -24px;
    opacity: 0;
    transform: rotateZ(90deg);
    animation: fadeOut 15s 1;
    animation-delay: 10s;
  }
  .bubble2 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    left:450px;
    top:40vh;
    text-align: center;
    opacity: 0;
    animation: fadeOut 3s 1;
    animation-delay: 25s;
  }
  
  .bubble2-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 258px;
    bottom: -24px;
    opacity: 0;
    transform: rotateZ(90deg);
    animation: fadeOut 3s 1;
    animation-delay: 25s;
  }
  .messaage-pic-wrapper-class{
    position: absolute;
    background-color : transparent;
  }
  #messaage-pic-wrapper{
    position: absolute;
    /*left: 400px;
    bottom: 100px;
    text-align: center;*/
    top: 28vh;
    left: 28vw;
    opacity: 0;
    animation: fadeInRotate 1s 1, fadeIn 1s 24;
    animation-delay: 28500ms;
  }
  